body {
  background-color: #d9d9d9;
}

.top_img {
  max-width:  300px;
  width:      100%;
  height:     auto;
}
.bottom_img {
  max-width:  300px;
  width:      100%;
  height:     auto;
  float:      right;
}
.footer {
  position:   fixed;
  bottom:     0px;
  width:      100%;
}
