body {
  background-color: #f0f2ee;
  color: #404041;
  font-family: 'Lusitana', serif;
}
.header {
  position:   fixed;
  top:        0px;
  width:      100%;
}
.top_img {
  max-width:  100%;
  width:      100%;
  height:     auto;
}
.header_img {
  max-width:  500px;
  width:      100%;
  height:     auto;
  padding-top:50px;
}
.container > div > p {
  font-size:  1.3em;
}
.container > div > i > a {
  cursor:     pointer;
}
h1 {
  color: #5e9b42;
}
hr {
  border-top: 1px solid #404041;
}
.modal-dialog {
  background-color: #f0f2ee;
  border:     1px solid;
  border-radius:  10px;
  width:      100%;
  max-width:  700px;
}
.modal_img {
  max-width:  100%;
}
.bottom_img {
  max-width:  100%;
  width:      100%;
  height:     auto;
  float:      right;
}
.footer {
  bottom:     0px;
  width:      100%;
}
.col-lg-12 {
  padding-right: 0px;
  width: unset;
}
